<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - About

{% endblock %}

{% block body %}

<div class="english">
    <div class="right-pane-header right-pane-header-about">
        <h2>Welcome to the AB<i class="far fa-user-circle"></i>UT section!</h2>
        <h4 class = "rightpane-subheader">A brief introduction about me <i class="far fa-smile smileyhide"></i><i class="far fa-laugh-wink smileyappear"></i> </h4>
    </div>
    <br>
    <div class="container about-container">
        <div class="jumbotron about-jumbo">
            <h5>
                Hello ! , My name is Sangeeth Subramoniam. I am a passionate ENGINEERING GRADUATE specialized in Computer Science / Information Technology with 2 years of industry experience.
                <br><br>
                I am a Full Stack Web Application developer, and my skill-set includes Backend programming and web application development using python.
                <br><br>
                I have completed JLPT N3 and can read/speak/write in Tamil, Japanese and English.
                <br><br>
                Love to work in consistently testing and challenging environment, to always keep myself on the run and to contribute to my organisation!  

            </h5>
        </div>
    </div>
</div>

{% endblock %}