<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - About

{% endblock %}

{% block body %}
<div class="japanese">
    <div class="right-pane-header right-pane-header-about">
        <h2> プ<i class="far fa-user-circle"></i>ファイル セクションへようこそ！</h2>
        <h4 class="rightpane-subheader">簡単な自己紹介 <i class="far fa-smile smileyhide"></i><i class="far fa-laugh-wink smileyappear"></i> </h4>
    </div>
    <br>
    <div class="container about-container">
        <div class="jumbotron about-jumbo">
            <h5>
                初めまして！ 、私は SangeethSubramoniamです。 2年の業界経験を持つ、コンピュータサイエンス/情報技術を専門とする情熱的なエンジニアリング大学院です。
                <br><br>
                私はフルスタックWebアプリケーション開発者であり、私のスキルセットはバックエンドプログラミングとPythonを使用したWebアプリケーション開発です。
                <br><br>
                JLPT N3を合格しております、タミル語、日本語、英語で読み書きができます。
                <br><br>
                やりがいのある仕事環境で働くのが好きです！

            </h5>
        </div>
    </div>
</div>

{% endblock %}