<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO

{% endblock %}

{% block body %}

<div class="top">
    <div class="logo">
        <h3 class="logo-text"><span style="color: #040404;">Sangeeth</span><span style="color: #767676;">Subramoniam</span></h3>
    </div>
</div>

<div class="leftpane">
        <div class="left-content">
            <img class="profile-image img-fluid rounded-circle" src="{% static 'sangeeth2.jpg' %}" alt="broken">
        
            <div class="underprofilepic">
                <h4 class="underpic-name">Sangeeth</h4>
            </div>
            <div class="social container">
                <a href="#"><i class="fab fa-twitter fa-1x round-icons"></i></a>
                <a href="#"><i class="fab fa-linkedin-in fa-1x round-icons"></i></a>
                <a href="#"><i class="fab fab fa-instagram fa-1x round-icons"></i></a>
                <a href="#"><i class="fab fa-github fa-1x round-icons"></i></a>
                <a href="#"><i class="fab fa-stack-overflow fa-1x round-icons"></i></a>
            </div>

            <div class="left-headings">
                <ul class="content-list">
                    <a href="#"><li class="content-list-items"><h3><i class="fas fa-link"></i> Link Tree </h3> </li></a>
                    <a href="#"><li class="content-list-items"><h3><i class="far fa-user-circle"></i> About </h3> </li></a>
                    <a href="#"><li class="content-list-items"><h3><i class="fas fa-file"></i> Resume </h3> </li></a>
                    <a href="#"><li class="content-list-items"><h3><i class="fab fa-angellist"></i> Others </h3> </li></a>
                </ul>
            </div>

            <div class="copyright">
                <p class="copyright-warning"><i class="far fa-copyright"></i> This is a Copyrighted Content </p>
                <p class="designed-by">Designed by : Sangeeth Subramoniam</p>
            </div>
            
        </div>
</div>

<div class="rightpane">
    <div class="right-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus temporibus dignissimos eius rerum cupiditate, eligendi corporis mollitia quo, vitae inventore necessitatibus ad quam voluptate possimus nemo atque in ab enim placeat tempore omnis numquam deserunt itaque? Asperiores, inventore ea repudiandae totam beatae nihil quam temporibus facere voluptate dignissimos distinctio ex quaerat delectus amet perspiciatis libero consectetur, magni incidunt? Maxime esse harum laboriosam, repellat perspiciatis quidem facilis, qui vitae ex molestias temporibus sapiente voluptatum iste, placeat atque doloribus? Placeat, nemo expedita! Fugiat harum quisquam ex tempora quia minus esse explicabo ratione totam cum est nisi perspiciatis laborum, ducimus hic! Laborum, quas.
    </div>    
</div>

</div>


{% endblock %}
