<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - LinkTree

{% endblock %}

{% block body %}

<div class="right-pane-header">
    <h2>私の　リンク<i class="fas fa-tree"></i>　です ! </h2>
    <h4 class = "rightpane-subheader">どうぞよろしくお願いいたします<i class="far fa-smile smileyhide"></i><i class="far fa-laugh-wink smileyappear"></i> </h4>
</div>
<br>
<div class="container">
    <div class="jumbotron linktree-jumbo">
        <div class="row">
            <div class="col-md-4 linktree-row">
                <h4> <i class="fab fa-twitter fa-1x"> </i> ツイッター :</h4>
            </div>
            <div class="col-md-5 linktree-result">
                <a href="{{twitter}}" target="_blank">{{twitter}}</a>
            </div>

            <div class="col-md-3 linktree-result">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-outline-primary cpybutton" onclick="copytext('{{twitter}}', 'twitter')"> Copy </button>
                    </div>
                    <div class="col-md-8 copiedlinkalert" id="twitter">
                        <p> コピーされました！ </p>
                    </div>
                </div>               
                
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 linktree-row">
                <h4> <i class="fab fa-linkedin-in fa-1x "></i> LinkedIn :</h4>
            </div>
            <div class="col-md-5 linktree-result">
                <a href="{{linkedin}}" target="_blank">{{linkedin}}</a>
            </div>

            <div class="col-md-3 linktree-result">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-outline-primary cpybutton" onclick="copytext('{{linkedin}}', 'linkedin')"> Copy </button>
                    </div>
                    <div class="col-md-8 copiedlinkalert" id="linkedin">
                        <p> コピーされました！ </p>
                    </div>
                </div>               
                
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 linktree-row">
                <h4> <i class="fab fab fa-instagram fa-1x "></i> インスタグラム :</h4>
            </div>
            <div class="col-md-5 linktree-result">
                <a href="{{instagram}}" target="_blank">{{instagram}}</a>
            </div>
            
            <div class="col-md-3 linktree-result">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-outline-primary cpybutton" onclick="copytext('{{instagram}}', 'instagram')"> Copy </button>
                    </div>
                    <div class="col-md-8 copiedlinkalert" id="instagram">
                        <p> コピーされました！ </p>
                    </div>
                </div>               
                
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 linktree-row">
                <h4> <i class="fab fa-github fa-1x "> </i> Github :</h4>
            </div>
            <div class="col-md-5 linktree-result">
                <a href="{{github}}" target="_blank" >{{github}}</a>
            </div>
            
            <div class="col-md-3 linktree-result">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-outline-primary cpybutton" onclick="copytext('{{github}}', 'github')"> Copy </button>
                    </div>
                    <div class="col-md-8 copiedlinkalert" id="github">
                        <p> コピーされました！ </p>
                    </div>
                </div>               
                
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 linktree-row">
                <h4> <i class="fab fa-stack-overflow fa-1x "></i> スタックオーバーフロー :</h4>
            </div>
            <div class="col-md-5">
                <a href="{{stackoverflow}}" target="_blank">{{stackoverflow}}</a>
            </div>

            <div class="col-md-3 linktree-result">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-outline-primary cpybutton"  onclick="copytext('{{stackoverflow}}', 'stackoverflow')"> Copy </button>
                    </div>
                    <div class="col-md-8 copiedlinkalert" id="stackoverflow">
                        <p> コピーされました！ </p>
                    </div>
                </div>               
                
            </div>
        </div>

    </div>
</div>
    
<script>
    let copytext = (link , copiedalertname) => {
        var copyText = link;

        navigator.clipboard.writeText(copyText);

        copiedtext = document.getElementById(copiedalertname);

        clear_all_displays = document.getElementsByClassName('copiedlinkalert')
        for (var i = 0; i < clear_all_displays.length; i++ ) {
            clear_all_displays[i].style.display = "none";
        }
            

        if (copiedtext.style.display === "none" || copiedtext.style.display == "" ) {
            copiedtext.style.display = "block";
            setTimeout(function(){ copiedtext.style.display = "none"; }, 900);
        }
    }

</script>

{% endblock %}
