<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - Others

{% endblock %}

{% block body %}

    <h1 class="right-pane-header right-pane-header-others"> O<i class="fab fa-angellist"></i>HERS </h1>
<div class="container">
    <div class="jumbotron others-jumbo">
        <h3>OTHERS, </h3>
        <br>
        <div class="container">
            <ul class="Others-list">
                <li> <h4> Hobbies : </h4></li>
                    <ul>
                        <li class = "sublist">Gaming</li>
                        <li class = "sublist">Coding</li>
                        <li class = "sublist">Binge Watching</li>
                        <li class = "sublist">Sports</li>
                    </ul>
                <li><h4> Games : </h4></li>
                <ul>
                    <li class = "sublist">Fifa</li>
                    <li class = "sublist">GTA5</li>
                    <li class = "sublist">Assasins Creed</li>
                    <li class = "sublist">Red Dead Redemption</li>
                </ul>
            </ul>
        </div>
    </div>
</div>

{% endblock %}