<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - Others

{% endblock %}

{% block body %}

<h1 class="right-pane-header right-pane-header-others"> そ<i class="fab fa-angellist"></i>他 </h1>
<div class="container">
    <div class="jumbotron others-jumbo">
        <h3>その他 , </h3>
        <br>
        <div class="container">
            <ul class="Others-list">
                <li> <h4> 趣味 : </h4></li>
                    <ul>
                        <li class = "sublist">ゲーム</li>
                        <li class = "sublist">コード</li>
                        <li class = "sublist">一気見</li>
                        <li class = "sublist">スポーツ</li>
                    </ul>
                <li> <h4> ゲーム : </h4></li>
                <ul>
                    <li class = "sublist">FIFA</li>
                    <li class = "sublist">GTA5</li>
                    <li class = "sublist">アサシンクリード</li>
                    <li class = "sublist">レッドデッドリデンプション</li>
                </ul>
            </ul>
        </div>
    </div>
</div>

{% endblock %}