<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - Resume

{% endblock %}

{% block body %}

<h1 class="right-pane-header right-pane-header-project"> PR<i class="fas fa-project-diagram projectsO"></i>JECTS </h1>
<div class="container">
    <div class="jumbotron project-jumbo">
        <h3>Please checkout my projects (currently being hosted), </h3>
        <br>
        <div class="container">
            <ul class="project-list">
                <li><a href="http://sangeeth-erp.herokuapp.com/" target="_blank"><h4 class="project-links">ERP</h4></a></li>
                <li><a href="http://sangeeth-ecom.herokuapp.com/" target="_blank"><h4 class="project-links">E-COMMERCE</h4></a></li>
                <li><a href="http://sangeeth-buildingmanagement.herokuapp.com/" target="_blank"><h4 class="project-links">BUILDING MANAGEMENT</h4></a></li>
                <li><a href="http://sangeeth-qrapp.herokuapp.com/" target="_blank"><h4 class="project-links">QR APP</h4></a></li>
            </ul>
        </div>
    </div>
</div>
        
{% endblock %}