<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - Resume

{% endblock %}

{% block body %}

<div class="english">
    <div class="right-pane-header right-pane-header-about">
        <h2>プロファイルシートへようこそ</h2>
        <h4 class = "rightpane-subheader">プロファイルシート <i class="far fa-smile smileyhide"></i><i class="far fa-laugh-wink smileyappear"></i> </h4>
    </div>
    <br>
    <div class="container about-container">
        <div class="jumbotron about-jumbo">
            <h5>
            <ul class="skillset-list">
                <li>パイソンバックエンド開発</li>
                <li>フレンドエンド ー Html, Css, ReactJS　など</li>
                <li>デターベース　ー Postgresql, MySql, AWS, Firebase　など</li>
                <li>デプロイ　ー Heroku, AWS</li>
                <li>ドーカーツール</li>
                <li>バージョン管理　ー GIT</li>
            </ul>
        </h5>
    </div>
        
{% endblock %}