<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

PORTFOLIO - Resume

{% endblock %}

{% block body %}

<ul class="skillset-list">
                <li>Backend python programming</li>
                <li>Front end technologies like Html, Css, ReactJS</li>
                <li>Postgresql, MySql, AWS, Firebase</li>
                <li>Deploying and hosting on Heroku, AWS</li>
                <li>Working with Docker</li>
                <li>Git</li>
            </ul> 
        
{% endblock %}