<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}  {%endblock%}</title>

    
    
</head>
<body>
<div class="nav-container">
    <a href="{% url 'CV:about' %}" class="nav-homepage"><h2 class="nav-title"><span class="title-firstname">Sangeeth</span> <span class="title-secondname">Subramoniam</span></h2></a>
    {% if request.session.lang == "jp" %}
        <a href="{% url 'homepage:change_language' page %}"><button class="btn btn-outline-dark nav-change-language" > Change to English </button></a>
    {% else %}
        <a href="{% url 'homepage:change_language' page %}"><button class="btn btn-outline-dark nav-change-language"> Change to 日本語 </button></a>
    {% endif %}
</div>
<div class="hero">
    <div class="row">
        <div class="col-lg-3 left-pane">
            <div class="left-content">
                <img class="profile-image img-fluid rounded-circle" src="{% static 'sangeeth2.jpg' %}" onclick="window.open(this.src)" alt="broken">
            
                <div class="underprofilepic">
                    {% if request.session.lang == "jp" %}
                        <h4 class="underpic-name">サンギート <i class="far fa-smile underprofilepicnosmile"></i><i class="far fa-smile-wink underprofilepicsmile"></i></h4>
                    {% else %}
                        <h4 class="underpic-name">Sangeeth <i class="far fa-smile underprofilepicnosmile "></i><i class="far fa-smile-wink underprofilepicsmile"></i></h4>
                    {% endif %}
                </div>
                <div class="container social">
                    <a href="https://twitter.com/sangeethsubram5?lang=en" target="_blank"><i class="fab fa-twitter round-icons"></i></a>
                    <a href="https://www.linkedin.com/in/sangeeth-subramoniam-358106127/?originalSubdomain=jp" target="_blank"><i class="fab fa-linkedin-in round-icons"></i></a>
                    <a href="https://www.instagram.com/sangeeth_subramoniam/?hl=en" target="_blank"><i class="fab fab fa-instagram round-icons"></i></a>
                    <a href="https://github.com/sangeeth-subramoniam" target="_blank"><i class="fab fa-github round-icons"></i></a>
                    <a href="https://stackoverflow.com/users/8401179/sangeeth-subramoniam" target="_blank"><i class="fab fa-stack-overflow round-icons"></i></a>
                </div>
    
                <div class="left-headings">
                    <ul class="content-list">
                        {% if request.session.lang == "jp" %}
                            <a href="{% url 'CV:about' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="far fa-user-circle content-list-items-icons"></i> 自己紹介 </h4> </li></a>
                            <a href="{% url 'CV:linktree' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-link content-list-items-icons"></i> りんく </h4> </li></a>
                            <a href="{% url 'CV:resume' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-file content-list-items-icons"></i> プロファイルシート </h4> </li></a>
                            <a href="{% url 'CV:projects' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-project-diagram content-list-items-icons"></i> プロジェクト </h4> </li></a>
                            <a href="{% url 'CV:others' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fab fa-angellist content-list-items-icons"></i> その他 </h4> </li></a>
                        {%else%}
                            <a href="{% url 'CV:about' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="far fa-user-circle content-list-items-icons"></i> About </h4> </li></a>
                            <a href="{% url 'CV:linktree' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-link content-list-items-icons"></i> Link Tree </h4> </li></a>
                            <a href="{% url 'CV:resume' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-file content-list-items-icons"></i> Resume </h4> </li></a>
                            <a href="{% url 'CV:projects' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fas fa-project-diagram content-list-items-icons"></i> Projects </h4> </li></a>
                            <a href="{% url 'CV:others' %}" class="content-list-anchors"><li class="content-list-items"><h4 class="content-list-items-text"><i class="fab fa-angellist content-list-items-icons"></i> Others </h4> </li></a>
                        {% endif %}
                    </ul>
                </div>
    
                <div class="copyright">
                    {% if request.session.lang == "jp" %}
                        <span class="designed-by" >デザイン : サンギート</span>
                        <span class="sangeeth-wink"> <i class="far fa-smile-wink"></i> </span>
                    {% else %}
                        <span class="designed-by" >Designed by : Sangeeth</span>
                        <span class="sangeeth-wink"> <i class="far fa-smile-wink"></i> </span>
                    {% endif %}
                </div>
                
            </div>
        </div>



            {% block body %}
            
            {% endblock %}
            
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
